/* Dropdown */

.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    /* border: 1px solid gray; */
    font-size: 14px;
    box-shadow: 0 0 0.875em rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding: 15px 30px 15px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    width: 200px;
    position: relative;
}

.dd-button i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 16px;
}

/* .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
} */

/* .dd-button:hover {
    background-color: #eeeeee;
} */

.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    /* border: 1px solid #ccc; */
    box-shadow: 0 0 0.875em rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 0;
    margin: 5px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
    width: 200px;
}

.dd-menu {
    display: none;
}

.dropdown.active .dd-menu {
    display: block;
}

.dd-menu li {
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu li:hover {
    background-color: #f6f6f6;
}

.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

.dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}
