/* Dropdown */

.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    font-size: 14px;
    box-shadow: 0 0 0.875em rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding: 15px 30px 15px 20px;
    background: var(--elements);
    transition: var(--transition-back);
    cursor: pointer;
    white-space: nowrap;
    width: 200px;
    position: relative;
}

.dd-button i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 16px;
}

.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    box-shadow: 0 0 0.875em rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 0;
    margin: 5px 0 0 0;
    background: var(--elements);
    transition: var(--transition-back);
    list-style-type: none;
    width: 200px;
}

.dd-menu {
    display: none;
}

.dropdown.active .dd-menu {
    display: block;
}

.dd-menu li {
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu li:hover {
    background: var(--hover-select);
}

.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}
