h1 {
    font-size: 16px;
    font-weight: 800;
}

header {
    box-shadow: 0 0 0.875em rgba(0, 0, 0, 0.16);
    transition: var(--transition-back);
    background: var(--elements);
    margin-bottom: 2em;
    width: 100%;
}

span {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
}

span i {
    font-size: 18px;
    margin-right: 0.5em;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 20px;
        font-weight: 800;
    }

    span {
        font-size: 16px;
    }

    header {
        margin-bottom: 3em;
    }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 24px;
    }
}
