<header>
    <div class="container">
        <div class="header-content">
            <h1><a routerLink="/">Where in the world?</a></h1>
            <span (click)="changeTheme()"
                ><i [class]="dark ? 'fa fa-sun-o' : 'fa fa-moon-o'" aria-hidden="true"></i>
                {{ dark ? 'Light Mode' : 'Dark Mode' }}</span
            >
            <!-- <span (click)="changeTheme()"><i class="fa fa-moon-o" aria-hidden="true"></i>Dark Mode</span> -->
            <!-- <i class="fa fa-sun-o" aria-hidden="true"></i> -->
        </div>
    </div>
</header>
