.content-home {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--backgroundBase);
    z-index: 3;
}

.filter-content {
    display: flex;
    flex-direction: column;
}

.filter-input {
    width: 100%;
    box-shadow: 0 0 0.875em rgba(0, 0, 0, 0.16);
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
    .filter-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .filter-input {
        width: 400px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .filter-input {
        width: 550px;
        margin-bottom: 0;
    }
}

.filter-input input {
    width: 100%;
    height: 50px;
    border: none;
    padding-left: 20px;
    color: var(--color-search);
    background: var(--elements);
    transition: var(--transition-back);
}

input::placeholder {
    color: var(--color-search);
}

.filter-input button {
    width: 60px;
    border: none;
    background: var(--elements);
    transition: var(--transition-back);
    padding-left: 20px;
    color: var(--color-search);
}

button:focus,
input:focus {
    outline: none;
}

.countries {
    padding-top: 3em;
    padding-bottom: 3em;
}

.countries-content {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    gap: 5em;
}

.countrie {
    width: 270px;
    box-shadow: 0 0 0.875em rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    overflow: hidden;
    background: var(--elements);
    color: inherit;
}

.countrie-img img {
    object-fit: cover;
}

.countrie-information {
    padding: 1.5em;
}

.countrie-data {
    margin-top: 1em;
}

.countrie-data p {
    margin: 0 0 0.25em 0;
}

.countrie-data span {
    font-weight: 600;
}

.loader-more {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 3em;
    margin-bottom: 1em;
}

.notfound {
    text-align: center;
    padding: 5em 0;
    font-size: 20px;
}

.notfound span {
    font-weight: 800;
}

.count {
    padding: 3em 0 1em 0;
}
.count p {
    margin: 0;
    color: var(--color);
}
