:root {
    --elements: #fff;
    --color: #000;
    --backgroundBase: #fafafa;
    --transition-back: background 0.2s ease-in-out;
    --hover-select: #f6f6f6;
    --color-search: #c0bfbf;
    --loader: #202c37;
}

.dark-mode {
    --elements: #2b3945;
    --backgroundBase: #202c37;
    --color: #fff;
    --hover-select: rgb(32 44 55 / 51%);
    --color-search: #fff;
    --loader: #fafafa;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background: var(--backgroundBase);
    transition: var(--transition-back);
    min-height: 100vh;
    color: var(--color);
}

#main {
    flex: 1;
}

h1,
h2,
h3 {
    margin: 0;
}

button:focus {
    outline: none;
}

img {
    max-width: 100%;
    /* display: block; */
    vertical-align: bottom;
}

.container {
    width: 100%;
    padding: 0 1.25em;
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
