html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background: #fafafa;
    min-height: 100vh;
}

h1,
h2,
h3 {
    margin: 0;
}

button:focus {
    outline: none;
}

img {
    max-width: 100%;
    /* display: block; */
    vertical-align: bottom;
}

.container {
    width: 100%;
    padding: 0 1.25em;
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
